* {
  box-sizing: border-box;
  /* Para que el padding y border no se sumen al tamaño real de la caja */
}

body {
  margin: 0px;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.main-header {
  background-color: brown;
}

.main-header-container {
  max-width: 1200px;
  margin: auto;
  border: 1px solid #ffffff;
  display: flex;
}

.logo {
  background-color: #00ff0854;
  width: 26.666%; /* 320px / 1200px */
}

.logo img {
  background-color: #00cc0050;
  width: 100%;
}

.main-nav {
  background-color: tomato;
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.main-menu {
  display: flex;
  justify-content: flex-end;
}

.main-menu > li {
  margin-left: 15px;
}

.main-menu > li > a {
  color: #ffffff;
  font-size: 20px;
  height: 100%;
  display: flex;
  align-items: center;
}

.main-menu > li > a:hover {
  color: green;
} 

.sub-menu {
  display: none;
}